<!DOCTYPE HTML>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <title>Delete a BuddyInfo</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<h1>Delete a BuddyInfo</h1>
<p>Form Not Implemented Yet</p>
<!--
<form action="#" th:action="@{/deleteBuddyInfo}" th:object="${BuddyInfo}" method="post">
    <p>Name: <input type="text" th:field="*{id}" /></p>
    <p>PhoneNumber: <input type="text" th:field="*{phoneNumber}" /></p>
    <p><input type="submit" value="Submit" /> <input type="reset" value="Reset" /></p>
</form>
-->
</body>
</html>